@import "tailwindcss";
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(60, 60, 60);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 60, 60);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 40, 40);
  cursor: pointer;
}

.text-ellipsis-fade {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-right: 30px;
}

.text-ellipsis-fade::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(45, 45, 45, 0),
    rgba(45, 45, 45, 1)
  );
  pointer-events: none;
}

button:hover .text-ellipsis-fade::after {
  background: linear-gradient(
    to right,
    rgba(30, 30, 30, 0),
    rgba(30, 30, 30, 1)
  );
}
