@import "tailwindcss";
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 60, 60);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 40, 40);
  cursor: pointer;
}
